body {
  font-family: "Poppins";
  background-image: url("../image/bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 20%;
  overflow-x: hidden;
}

.navbg{
  background-color: #bc8f8f71;
}

.home1{
  width: 600px;
}
.home2{
  width: 100px;
}

.hot{
  width: 100%;
  /*border: solid sienna;*/
  position: relative;
  padding: 30px;
  background:rgba(83, 83, 83, 0.13);
  background-image: url("../image/localbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.stone{
  padding-left: 350px;
}

.miniF{
  width: 20px;
}

.mini{
  width: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
}